/bitrix
/upload
/local/vendor
/local/classes/General/Constants.php
/html
/frontend
.remote-sync.json
.idea/*
.vscode
yandex_*.html
google*.html
sitemap*.xml
composer.phar
restore.php
*.log
*.sql
*.txt
*.xml
*.dt
*.swp
*.swo
*.DS_Store
*.bat
google.php
yandex.php
.htaccess
.bottom.menu.php
.github/
.htaccess.restore
.top.menu_ext.php
README-Backend-Update.md
README.md
auth/
bi/
biconnector/
bizproc/
blank.php
booking/
build/
calendar/
call/
collaboration/
company/
conference/
configs/
crm/
desktop_menu/
docs/
hr/
images/
index_b24.php
kb/
mypatch.patch
onec/
online/
report/
rpa/
saleshub/
services/
shop/
sign/
sitemap/
sites/
stream/
tasks/
telephony/
update-back.sh
vibe/
vote-result/
workgroups/